body {
    font-size: 24px;
    font-family: "Century Gothic", Century;

    background-color: #f5e7c8;

    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;

    line-height: 1.6;
}

main {
    padding: 10px;
    width: 500px;
}

#tasks {
    font-size: 16px;
    color: #636363;
}

#taskInput{ 
    width: 100%;
}

input#newTask {
    margin: 20px 5px;
    padding: 7px 3px;
    background-color: #f5e7c8;

    width: calc(100% - 95px);

    border: none;
    border-bottom: 2px solid rgb(32, 32, 32);
    font-size: 24px;

    outline: none;
}

#add {
    float: right;
    padding: 0;
    margin: 20px 5px;
    background-color: transparent;
    border: none;
}

p.task {
    font-size: 16px;
    margin: 10px 0px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: justify;
    color: black;
}

p.task:hover {
    box-shadow: 0px 0px 5px 1px rgb(179, 179, 179);
}