#tasks {
    font-size: 14px;
    color: #636363;
    margin-bottom: 2rem;
}

#taskInput{ 
    width: 100%;
}

input#newTask {
    margin: 20px 5px;
    padding: 7px 3px;

    width: calc(100% - 95px);

    border: none;
    border-bottom: 2px solid rgb(32, 32, 32);
    font-size: 16px;

    outline: none;
}

#add {
    float: right;
    padding: 0;
    margin: 20px 5px;
    background-color: transparent;
    border: none;
}

p.task {
    font-size: 14px;
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: justify;
    color: black;
}

p.task:hover {
    box-shadow: 0px 0px 5px 1px rgb(179, 179, 179);
}